@import "../../styles/variables.scss";

.checkbox {
  &__label {
    display: grid;
    grid-template-columns: 28px 1fr;
    justify-items: start;
    align-items: center;
    user-select: none;
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid $color-border-grey;
    }
  }

  &__text {
    font-size: 14px;
  }

  &__input:checked {
    + :before {
      border-color: $color-bg-blue;
    }

    + .checkbox__label .checkbox__text {
      color: $color-bg-blue;
    }

    + .checkbox__label .checkbox__icon {
      &:after {
        content: "";
        background-color: #384ada;
        width: 10px;
        height: 10px;
        position: absolute;
      }
    }
  }

  &__input:focus + .checkbox__label {
    outline: dashed 2px $color-border-grey;
    outline-offset: 2px;
  }

  &__input:focus:not(:focus-visible) {
    outline: none;
  }

  + .checkbox {
    margin-top: 10px;
  }
}
