// Colors
$color-bg-blue: #1f63c9;
$color-bg-dark-grey: #c5c2be;
$color-bg-grey: #e8e6e7;
$color-bg-light-grey: #f8f8f8;
$color-bg-white: #ffffff;

$color-border-blue: #456ad5;
$color-border-grey: #c3c2c0;

$color-text-black: #3b3b3b;
$color-text-blue: #456ad5;
$color-text-grey: #6c6c6c;
